@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

@theme {

  --font-heading: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;


  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  /* main */
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  /* --color-primary-900: #0f0e2a; */

  --color-light: var(--color-primary-50);
  --color-dark: var(--color-primary-900);

  --color-primary: var(--color-primary-500);
  --color-primary-rgb: 99, 102, 241;

}

body {
  @apply bg-white dark:bg-slate-950 transition-colors duration-300 font-body font-normal;
}

*{
  cursor: none;
}

@layer base {
  ::selection {
    @apply bg-primary text-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  z-index: 9999;
}

::view-transition-old(root) {
  z-index: 1;
}

.animate-scrolldown {
  animation: scrolldown 2s infinite;
  display: block;
}

.animate-pulseFade {
  animation: pulseFade 0.5s ease infinite alternate;
}

.animate-pulseFade-delay {
  animation: pulseFade 0.5s ease infinite alternate;
  animation-delay: 0.25s;
}


@keyframes scrolldown {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translateY(20px);
    opacity: 0;
    height: 10px;
  }

  100% {
    opacity: 0;
    height: 3px;
  }
}

@keyframes pulseFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }


  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;

  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-dark/20 dark:bg-white/20 rounded-full transition-colors duration-300;

  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary dark:bg-primary;
  }
}